<html>
<head>
  <title>Steel Rumors</title>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css" />
</head>
<body>
<h1>Steel Rumors</h1>

{% block content %}
{% endblock %}


{% block footer %}
<footer>
  <p>
    <a href="{% url 'home' %}">Home</a> |
{% if user.is_authenticated %}
	<a href="{% url 'link_create' %}">Submit a link</a>
    <a href="{% url 'logout' %}">Logout</a> |
    <a href="{% url 'profile' slug=user.username %}"><b>{{ user.username }}</b></a>
{% else %}
    <a href="{% url 'login' %}">Login</a> |
    <a href="{% url 'registration_register' %}">Register</a>
{% endif %}
  </p>
</footer>

{% endblock footer %}
</body>
</html>
